@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  max-width: 97%;
  margin: auto;
  background: linear-gradient(
    #eeeeee 0.1%,
    #d4f8e6,
    #eeeeee,
    #eeeeee,
    #eeeeee,
    #eeeeee,
    #eeeeee
  );
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 0.3px;
}
