@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  max-width: 97%;
  margin: auto;
  background: linear-gradient(#ffffff 0.5%, #9BE8C2, #fff, #fff, #fff);
  background-repeat: no-repeat;
  background-size: cover;
}
